<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationUser</servlet-name>
        <servlet-class>com.mypack.servlet.RegistrationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>com.mypack.servlet.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionservlet</servlet-name>
        <servlet-class>com.mypack.servlet.questionservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerservlet</servlet-name>
        <servlet-class>com.mypack.servlet.answerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>com.mypack.servlet.logoutservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationUser</servlet-name>
        <url-pattern>/reguser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionservlet</servlet-name>
        <url-pattern>/questionservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerservlet</servlet-name>
        <url-pattern>/answerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
